{
  "plugins": [
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "src": "./src"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ],
    ["styled-jsx/babel", {"optimizeForSpeed": true}]
  ],
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ]
}